<launch>

<arg name="gui" default="true" />
<param name="use_gui" value="$(arg gui)"/>

<param name="robot_description" textfile="$(find mujoco_test)/models/ur5_with_gripper.urdf"/>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mujoco_test)/scene.rviz" required="true" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

<node name="marker_test_demo" pkg="mujoco_test" type="marker_test" output="screen"/>

</launch>
